<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2> Criar usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
               
                <%if(email != undefined){%>
                <label style="color:red;">E-mail cadastrado.</label>
                <%}%>

                <input class="form-control" name="email" type="email" placeholder="email@exmplo.com">
                <br>
                <input class="form-control" name="password" type="password" placeholder="Senha">
                <br>
                <button type="submit" class="btn btn-primary btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>